.navbar {
  justify-content: initial;

  .login {
    position: absolute;
    right: 1em;
  }
  .user-cart {
    cursor: pointer;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
  .brand-wrapper {
    width: 100%;
    text-align: center;
  }
}
