/* * * * *
Loading View
* * * * * */
@keyframes wave {
    0% {
      top: 0;
      opacity: 0;
    }
    20% {
      opacity: 0.35;
    }
    30% {
      top: 0.35em;
      opacity: 0.75;
    }
    100% {
      top: 0.35em;
      opacity: 1;
    }
  }
.loading-container {
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
.loading-char {
    position: relative;
    opacity: 0;
    animation: 1.25s linear wave infinite alternate;
    @for $char from 1 through 20 {
        &:nth-of-type(#{$char}){
          animation-delay: $char * 0.12s;
        }
      }      
}
/* * * * *
Results Grid
* * * * * */
@keyframes gridShow {
    0% {
        opacity: 0;
        transform: scale(0.65);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.grid {
    flex: 1 0 100%;
    margin: 0.5%;
    position: relative;
    transition: all 0.25s ease;
    top: 0;
    @media screen and (min-width: 768px){
        flex: 1 0 49%;
        opacity: 0;
        @for $grid-item from 1 through 20 {
            &:nth-of-type(#{$grid-item}) {
                animation: 0.85s gridShow ease forwards 0.125s + 0.125s * $grid-item;
            }
        }
    }
    @media screen and (min-width: 1024px){
        &:hover {
            box-shadow: 0 7px 9px 0px rgba(121, 121, 121, 0.68);
            top: -0.25em;
            .grid__gradient {
                background-color: rgba(4,4,4,0.55);                
            }
        }    
        flex: 1 0 32%;
    }

}

.grid__image {
    width: 100%;
    max-height: 12.5em;    
}

.grid__gradient {
    background-color: rgba(4,4,4,0.3);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    transition: background-color 0.25s ease;
}

.grid__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid__title {
    margin-bottom: 0.5em;
}

.grid__info {
    margin: 0;
    font-size: 85%;
}

.info-delivery-fee {
    display: inline-block;
    padding: 0.175em 0.95em;
    background: rgba(189, 189, 189, 0.63);
    border-radius: 1em;
}